$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$main-background-color: hsl(217, 54%, 11%);
$card-background-color: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);
$custom-white: hsl(0, 0%, 100%);

body {
  background-color: $main-background-color;
  color: white;
}

main {
  background-color: $card-background-color;
}

.balanceText {
  color: $cyan;
}

.balanceTimeRemaining {
  color: $soft-blue;
}

hr {
  opacity: 20%;
}

.signature-Color {
  opacity: 30%;
}
