main {
  box-sizing: border-box;
  margin: 50% auto 50% auto;
  padding: 1.5rem;
  width: 330px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.balanceContainer {
  display: flex;
}

.cardTitle {
  margin-bottom: 1rem;
}

.cardText {
  margin-bottom: 1rem;
}

.balanceText {
  margin-left: 0.4rem;
  min-width: 100px;
}

.balanceTimeContainer {
  margin-left: 25%;
  width: 80px;
}

.balanceTextContainer {
  display: flex;
}

.balanceTimeContainer {
  display: flex;
}

.balanceTimeRemaining {
  margin-left: 0.4rem;
  min-width: 100px;
}

hr {
  margin-bottom: 1rem;
}

.signatureContainer {
  display: flex;
  img {
    border-radius: 50%;
    width: 2.25rem;
    border: 0.15rem solid white;
    margin: 0;
  }
}
.authorSignature {
  margin: 0.7rem 0 0 1rem;
}
