@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

.cardTitle {
  font-size: 1.4rem;
}

.cardText {
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  opacity: 35%;
}

.authorSignature {
  letter-spacing: 0.02rem;
}
