@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
  color: white;
}

.cardTitle {
  font-size: 1.5rem;
}

.cardText {
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  opacity: 60%;
}
